gsoap_2.8.34/gsoap-2.8/gsoap/ServerTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ServerTest"
  targetNamespace="http://localhost:8089/ServerTest.wsdl"
  xmlns:tns="http://localhost:8089/ServerTest.wsdl"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="http://localhost:8089/ServerTest.wsdl"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="http://localhost:8089/ServerTest.wsdl"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="http://localhost:8089/ServerTest.wsdl"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  </schema>

</types>

<message name="addRequest">
  <part name="a" type="xsd:int"/><!-- ns__add::a -->
  <part name="b" type="xsd:int"/><!-- ns__add::b -->
</message>

<message name="addResponse">
  <part name="c" type="xsd:int"/><!-- ns__add::c -->
</message>

<message name="subRequest">
  <part name="a" type="xsd:int"/><!-- ns__sub::a -->
  <part name="b" type="xsd:int"/><!-- ns__sub::b -->
</message>

<message name="subResponse">
  <part name="c" type="xsd:int"/><!-- ns__sub::c -->
</message>

<portType name="ServerTestPortType">
  <operation name="add">
    <documentation>Service definition of function ns__add</documentation>
    <input message="tns:addRequest"/>
    <output message="tns:addResponse"/>
  </operation>
  <operation name="sub">
    <documentation>Service definition of function ns__sub</documentation>
    <input message="tns:subRequest"/>
    <output message="tns:subResponse"/>
  </operation>
</portType>

<binding name="ServerTest" type="tns:ServerTestPortType">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="add">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" namespace="http://localhost:8089/ServerTest.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
          <SOAP:body use="encoded" namespace="http://localhost:8089/ServerTest.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="sub">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" namespace="http://localhost:8089/ServerTest.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
          <SOAP:body use="encoded" namespace="http://localhost:8089/ServerTest.wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<service name="ServerTest">
  <documentation>gSOAP 2.8.34 generated service definition</documentation>
  <port name="ServerTest" binding="tns:ServerTest">
    <SOAP:address location="http://localhost:80"/>
  </port>
</service>

</definitions>
